// scss=lint:disabled all

@font-face {
  font-family: 'tomorrow';
  src: url('./assets/fonts/tomorrow.eot?3vinwp');
  src: url('./assets/fonts/tomorrow.eot?3vinwp#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/tomorrow.ttf?3vinwp') format('truetype'),
    url('./assets/fonts/tomorrow.woff?3vinwp') format('woff'),
    url('./assets/fonts/tomorrow.svg?3vinwp#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
